@import "./color_schemes/dark";

$body-background-color: #11151c;
$sidebar-color: #171d27;
$search-background-color: #171d27;
$table-background-color: #171d27;
$code-background-color: #1d2531;
$body-text-color: #d3dae6;
$body-heading-color: #f3f6fc;
$link-color: #91baff;
$nav-child-link-color: #b3c0d4;
$border-color: #354258;
$btn-primary-color: #315eaa;
$feedback-color: #253247;
