/pkg/
/vendor/bundle/
/coverage/
/test/dummy/db/*.sqlite3*
/test/dummy/config/master.key
/test/dummy/config/credentials.yml.enc
/test/dummy/log/*
!/test/dummy/log/.keep
/test/dummy/tmp/
/test/dummy/storage/
