<%# frozen_string_literal: true %>

module Admin
  module Resources
    class <%= @resource_class_name %> < Admin::Base::Resource
      model ::<%= @model_class_name %>
      portal :<%= @portal %>
      section :<%= @section %>

      index do
        <% if @searchable.present? %>
        searchable <%= @searchable.map { |f| ":#{f}" }.join(", ") %>
        <% end %>
        sortable :created_at, default: :created_at, direction: :desc

        columns do
          <% @columns.each do |col| %>
          column :<%= col %>
          <% end %>
        end
      end

      form do
        <% @form_fields.each do |f| %>
          <% if f[:type] == :select %>
        field :<%= f[:name] %>, type: :select, collection: <%= f[:enum].map { |v| [v.humanize, v] }.inspect %>
          <% elsif f[:type] == :textarea %>
        field :<%= f[:name] %>, type: :textarea
          <% elsif f[:type] == :toggle %>
        field :<%= f[:name] %>, type: :toggle
          <% elsif f[:type] == :json %>
        field :<%= f[:name] %>, type: :json
          <% elsif f[:type] == :datetime %>
        field :<%= f[:name] %>, type: :datetime
          <% elsif f[:type] == :date %>
        field :<%= f[:name] %>, type: :date
          <% elsif f[:type] == :number %>
        field :<%= f[:name] %>, type: :number
          <% else %>
        field :<%= f[:name] %>
          <% end %>
        <% end %>
      end
    end
  end
end

